<%= simple_form_for(@event) do |f| %>

  <% if @event.errors.any? %>
    <div class="alert alert-error">
      <h4><%= pluralize(@event.errors.count, "error") %></h4><br />
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :title, label: "Title", required: false %>
    <%= f.label "Event date" %>
    <%= f.text_field :start_date, required: false %>
    <%= f.input :start_time, :default => Time.now, :minute_step => 15, ampm: true, required: false %>
    <%= f.input :duration, label: "Duration (hours)", required: false,  collection: 1..5 %>
    <%= f.association :location, required: false %>
    <%= f.association :foods, required: false %>

    <button class="btn" type="button" onclick="window.location.href='<%=events_path%>'">Cancel</button>
    <button class="btn btn-primary" type="submit">Submit</button>

<% end %>
