<%= simple_form_for(@event) do |f| %>

  <% if @event.errors.any? %>
    <div class="alert alert-error">
      <h4><%= pluralize(@event.errors.count, "error") %></h4><br />
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :title, label: "Title", required: false %>
    <%= f.input :start, label: "Start Time", required: false %>
    <%= f.input :end, label: "End Time", required: false %>
    <%= f.association :location, required: false %>
    <%= f.association :foods, required: false %>
    <button class="btn btn-primary" type="submit">Submit</button>
    <button class="btn" type="button" onclick="window.location.href='<%=events_path%>'">Cancel</button>

<% end %>
