<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location.name %>
</p>

<p>
  <b>Start:</b>
  <%= @event.start.strftime('%a %B %d %l:%M %p') %>
</p>

<p>
  <b>End:</b>
  <%= @event.end.strftime('%a %B %d %l:%M %p') %>
</p>


<button class="btn" type="button" onclick="window.location.href='<%=events_path%>'">Back</button>