<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location.name %>
</p>

<p>
  <b>Start:</b>
  <%= @event.start_date.strftime("%a %b %e") %> <%= @event.start_time.strftime("%l:%M %p") %>
</p>

<p>
  <b>Duration:</b>
  <%= (@event.start_time + @event.duration.hours).strftime("%l:%M %p") %>
</p>


<button class="btn" type="button" onclick="window.location.href='<%=events_path%>'">Back</button>