<%= form_tag do %>

	<label class="checkbox">
      <%= check_box_tag :search_this_day, 1, @q_start_date.nil? %> Search Today
    </label>

	    <%= label_tag "Start Date" %>
	    <%= text_field_tag  :start_date,
	    					@q_start_date.strftime("%m/%d/%Y"),
	    					{:disabled => @q_start_date.nil?} %>	

		<%= label_tag "End Date" %>
	    <%= text_field_tag  :end_date,
	    					@q_end_date.strftime("%m/%d/%Y"),
	    					{:disabled => @q_end_date.nil?} %>

	<label class="checkbox">
      <%= check_box_tag :search_all_foods, 1, true %> Search All Foods
    </label>

		<%= select_tag  :foods,
						options_from_collection_for_select(Food.all, :id, :name),
						{:multiple => true, :disabled => true} %>

	<button class="btn btn-primary" type="submit">Filter</button>

<% end %>
