<div class="infobox">
	<div class="accordion accordion-solid" id="accordion2">
	  <% query.each do |event| %>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      
		      <a data-toggle="modal" href="#share">
		      	<%= image_tag "t_logo.png", {:id => "t_#{event.id}", :onClick => "site='Twitter';message='#{event.title}';"} %>
		      </a>

		      <a data-toggle="modal" href="#share">
		      	<%= image_tag "f_logo.png", {:id => "f_#{event.id}", :onClick => "site='Facebook';message='#{event.title}';"} %>
		      </a>

		      <a class="accordion-toggle"
		      	  data-toggle="collapse"
		      	  data-parent="#accordion2"
		      	  href="#collapse<%= event.id %>">
		        <%= event.title %>
		      </a>
		    </div>
		    <div id="collapse<%= event.id %>" class="accordion-body collapse">
		      <div class="accordion-inner">
		        <%= event.start_date.strftime("%B %e")%>,
		        <%= event.start_time.strftime("%l:%M") %> - 
		        <%= (event.start_time + event.duration.hours).strftime("%l:%M %P") %><br>
		        Food(s): <% event.foods.each do |food| %><%= food.name %> <% end %>
		      </div>
		    </div>
		  </div>
	  <% end %>
	</div>
</div>